#book {
  #chapters-list {
    border-right: 1px solid $dark-color;
    padding-right: 15px;

    .chapter {
      a.chapter-title {
        margin-right: 2.5em;
        display: block;

        .fa-caret-right {
          display: inline-block;
        }

        .fa-caret-down {
          display: none;
        }
      }

      a.chapter-edit, a.chapter-delete {
        float: right;
        margin-left: 0.5em;
        visibility: hidden;
      }

      &:hover {
        a.chapter-edit, a.chapter-delete {
          visibility: visible;
        }
      }

      .sections {
        margin-left: 1em;
        display: none;

        .section {
          a.section-title {
            margin-right: 2.5em;
            display: block;
          }
        }
      }

      &.expanded {
        a.chapter-title {
          .fa-caret-right {
            display: none;
          }

          .fa-caret-down {
            display: inline-block;
          }
        }

        .sections {
          display: block;
        }
      }
    }
  }
}
