#book {
  #sidebar {
    a {
      color: $grey-color;
    }

    #chapters-list {
      border-right: 1px solid $grey-color;
      padding-right: 15px;

      .sortable-placeholder {
        background-color: lighten($primary-color, 40%);
        height: 3.5rem;
      }

      .chapter {
        padding: 0.3em 0;
        font-size: 1.8rem;

        i.fa-bars {
          cursor: move;
          margin-right: 0.4em;
        }

        a.chapter-title {
          margin-right: 2.5em;

          .fa-caret-right {
            display: inline-block;
          }

          .fa-caret-down {
            display: none;
          }
        }

        a.chapter-edit, a.chapter-delete {
          float: right;
          margin-left: 0.5em;
          visibility: hidden;
        }

        &:hover {
          a.chapter-edit, a.chapter-delete {
            visibility: visible;
          }
        }

        .sections {
          margin-left: 4rem;
          font-size: 1.6rem;
          display: none;

          .section {
            padding: 0.3em 0;

            a.section-title {
              margin-right: 2.5em;
              display: block;
            }
          }
        }

        &.expanded {
          a.chapter-title {
            .fa-caret-right {
              display: none;
            }

            .fa-caret-down {
              display: inline-block;
            }
          }

          .sections {
            display: block;
          }
        }
      }
    }
  }
}
