<footer class="container">
  <nav class="container-fluid">
    Choose Language: <%= link_to "en", translate_path(locale: :en) %> |
    <%= link_to "hn", translate_path(locale: :hn) %>
  </nav>
</footer>
